.card {
  /* Определяем минимальную высоту для карточек */
  height: 500px;
}

.card-img-top {
  /* Ограничиваем высоту изображения */
  height: 350px;
  object-fit: contain; /* Масштабируем изображение, чтобы оно заполнило всю область */
}

.card-body {
  /* Добавляем немного вертикального пространства для текста */
  padding: 1.5rem;
}

.card-title {
  /* Увеличиваем размер шрифта для заголовка */
  font-size: 1.2rem;
}