{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'shop/css/style.css'%}">
    {% bootstrap_css %}
    {% block load_css %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
    <header class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'catalog' %}">
                <img src="{% static 'shop/images/logo.jpg'%}"  alt="Логотип магазина" height="40">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'catalog' %}">Каталог</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'product_create' %}">Добавить товар</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        {% block sidebar %}{% endblock %}
    </div>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="container-fluid mt-5 py-3 bg-light text-center">
        <p>&copy; 2024 Магазин одежды. Все права защищены.</p>
        <a href="#" class="text-dark">Политика конфиденциальности</a>
    </footer>

    {% block scripts %}
    {% endblock %}
</body>
{% bootstrap_javascript %}
</html>